
ul {
  position: fixed;
  top: 0;
  left: 0;
}

li {
  height: 25px;
}

body {
    position: relative;
    left: 200px;
}

.aboutUsPic {
  width: 200px;
  height: auto;
}

.imageContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* TIP: do crtl F5 if things arent working even though they should, seems to be a cache issue with the docker server thing*/